body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light background color */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff; /* White background for content */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.search-container {
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: none; /* Hide loader by default */
    margin: 20px auto; /* Center loader */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#repositories-list {
    margin-top: 20px;
}

.repository-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out;
    background-color: #fff; /* White background for each repository box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.repository-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly elevate on hover */
}

.repository-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.repository-box p {
    color: #666;
    font-size: 14px;
    margin-bottom: 0;
}

.language-highlight {
    background-color: #3498db; /* Highlight color for the language text */
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 5px;
}

.settings-container {
    text-align: right;
    margin-top: 10px;
}

select, input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    margin:  5px;
}
